In [7]:
import pandas as pd

In [8]:
orders = pd.read_csv("Data/orders.csv")
customers = pd.read_csv("Data/train_customers.csv")
locations = pd.read_csv("Data/train_locations.csv")
vendors = pd.read_csv("Data/vendors.csv")

/var/folders/qn/7fpqn6cd6qd_31p_tp565c4c0000gn/T/ipykernel_3406/3415926717.py:1: DtypeWarning: Columns (15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  orders = pd.read_csv("Data/orders.csv")

In [9]:
print("Orders Data")
display(orders.head())

Orders Data

,order_id,customer_id,item_count,grand_total,payment_mode,promo_code,vendor_discount_amount,promo_code_discount_percentage,is_favorite,is_rated,...,driver_accepted_time,ready_for_pickup_time,picked_up_time,delivered_time,delivery_date,vendor_id,created_at,LOCATION_NUMBER,LOCATION_TYPE,CID X LOC_NUM X VENDOR
0,163923.0,KL09J9N,6.0,10.1,1,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,8/1/2024 5:30,84,8/2/2024 5:33,0,Work,KL09J9N X 0 X 84
1,163924.0,H5LGGFX,3.0,8.4,1,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,8/1/2024 5:30,78,8/2/2024 5:34,0,Home,H5LGGFX X 0 X 78
2,163925.0,CYLZB6T,4.0,15.0,1,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,8/1/2024 5:30,4,8/2/2024 5:35,0,Work,CYLZB6T X 0 X 4
3,163929.0,4YKUKYN,7.0,27.2,1,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,8/1/2024 5:30,157,8/2/2024 5:39,0,Home,4YKUKYN X 0 X 157
4,163930.0,WDNU30K,1.0,6.5,1,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,8/1/2024 5:30,160,8/2/2024 5:39,0,Home,WDNU30K X 0 X 160

In [10]:
print("Customers Data")
display(customers.head())

Customers Data

,customer_id,gender,dob,status,verified,language,created_at,updated_at
0,TCHWPBT,Male,NaN,1,1,EN,2/7/2023 19:16,2/7/2023 19:16
1,ZGFSYCZ,Male,NaN,1,1,EN,2/9/2023 12:04,2/9/2023 12:04
2,S2ALZFL,Male,NaN,0,1,EN,3/14/2023 18:31,3/14/2023 18:31
3,952DBJQ,Male,NaN,1,1,EN,3/15/2023 19:47,3/15/2023 19:47
4,1IX6FXS,Male,NaN,1,1,EN,3/15/2023 19:57,3/15/2023 19:57

In [11]:
print("Locations Data")
display(locations.head())

Locations Data

  customer_id  location_number location_type  latitude  longitude
0     02SFNJH                0           NaN  1.682392 -78.789737
1     02SFNJH                1           NaN  1.679137   0.766823
2     02SFNJH                2           NaN -0.498648   0.661241
3     RU43CXC                0          Home  0.100853   0.438165
4     BDFBPRD                0           NaN  2.523125   0.733464

In [12]:
print("Vendors Data")
display(vendors.head())

Vendors Data

,id,authentication_id,latitude,longitude,vendor_category_en,vendor_category_id,delivery_charge,serving_distance,is_open,OpeningTime,...,open_close_flags,vendor_tag,vendor_tag_name,one_click_vendor,country_id,city_id,created_at,updated_at,device_type,display_orders
0,4,118597,-0.588596,0.754434,Restaurants,2,0.0,6,1,11:00AM-11:30PM,...,1,"2,4,5,8,91,22,12,24,16,23","Arabic,Breakfast,Burgers,Desserts,Free Deliver...",Y,1,1,1/30/2023 14:42,4/7/2025 15:12,3,1
1,13,118608,-0.471654,0.744470,Restaurants,2,0.7,5,1,08:30AM-10:30PM,...,1,"4,41,51,34,27,15,24,16,28","Breakfast,Cakes,Crepes,Italian,Pasta,Pizzas,Sa...",Y,1,1,5/3/2023 12:32,4/5/2025 20:46,3,1
2,20,118616,-0.407527,0.643681,Restaurants,2,0.0,8,1,08:00AM-10:45PM,...,1,"4,8,91,10","Breakfast,Desserts,Free Delivery,Indian",Y,1,1,5/4/2023 22:28,4/7/2025 16:35,3,1
3,23,118619,-0.585385,0.753811,Restaurants,2,0.0,5,1,10:59AM-10:30PM,...,1,"5,8,30,24","Burgers,Desserts,Fries,Salads",Y,1,1,5/6/2023 19:20,4/2/2025 0:56,3,1
4,28,118624,0.480602,0.552850,Restaurants,2,0.7,15,1,11:00AM-11:45PM,...,1,5,Burgers,Y,1,1,5/17/2023 22:12,4/5/2025 15:57,3,1

In [13]:
print("Orders:", orders.shape)
print(orders.columns.tolist(), "\n")

print("Customers:", customers.shape)
print(customers.columns.tolist(), "\n")

print("Locations:", locations.shape)
print(locations.columns.tolist(), "\n")

print("Vendors:", vendors.shape)
print(vendors.columns.tolist())

Orders: (135303, 26)
['order_id', 'customer_id', 'item_count', 'grand_total', 'payment_mode', 'promo_code', 'vendor_discount_amount', 'promo_code_discount_percentage', 'is_favorite', 'is_rated', 'vendor_rating', 'driver_rating', 'deliverydistance', 'preparationtime', 'delivery_time', 'order_accepted_time', 'driver_accepted_time', 'ready_for_pickup_time', 'picked_up_time', 'delivered_time', 'delivery_date', 'vendor_id', 'created_at', 'LOCATION_NUMBER', 'LOCATION_TYPE', 'CID X LOC_NUM X VENDOR']

Customers: (34674, 8)
['customer_id', 'gender', 'dob', 'status', 'verified', 'language', 'created_at', 'updated_at']

Locations: (59503, 5)
['customer_id', 'location_number', 'location_type', 'latitude', 'longitude']

Vendors: (100, 59)
['id', 'authentication_id', 'latitude', 'longitude', 'vendor_category_en', 'vendor_category_id', 'delivery_charge', 'serving_distance', 'is_open', 'OpeningTime', 'OpeningTime2', 'prepration_time', 'commission', 'is_haked_delivering', 'discount_percentage', 'status', 'verified', 'rank', 'language', 'vendor_rating', 'sunday_from_time1', 'sunday_to_time1', 'sunday_from_time2', 'sunday_to_time2', 'monday_from_time1', 'monday_to_time1', 'monday_from_time2', 'monday_to_time2', 'tuesday_from_time1', 'tuesday_to_time1', 'tuesday_from_time2', 'tuesday_to_time2', 'wednesday_from_time1', 'wednesday_to_time1', 'wednesday_from_time2', 'wednesday_to_time2', 'thursday_from_time1', 'thursday_to_time1', 'thursday_from_time2', 'thursday_to_time2', 'friday_from_time1', 'friday_to_time1', 'friday_from_time2', 'friday_to_time2', 'saturday_from_time1', 'saturday_to_time1', 'saturday_from_time2', 'saturday_to_time2', 'primary_tags', 'open_close_flags', 'vendor_tag', 'vendor_tag_name', 'one_click_vendor', 'country_id', 'city_id', 'created_at', 'updated_at', 'device_type', 'display_orders']

In [14]:
# Check missing values in each dataset

print("Orders Missing Values:")
print(orders.isnull().sum(), "\n")

print("Customers Missing Values:")
print(customers.isnull().sum(), "\n")

print("Locations Missing Values:")
print(locations.isnull().sum(), "\n")

print("Vendors Missing Values:")
print(vendors.isnull().sum())

Orders Missing Values:
order_id                              70
customer_id                            0
item_count                          6925
grand_total                            0
payment_mode                           0
promo_code                        130998
vendor_discount_amount                 0
promo_code_discount_percentage     69423
is_favorite                        35195
is_rated                               0
vendor_rating                      90083
driver_rating                          0
deliverydistance                       0
preparationtime                    55560
delivery_time                     130180
order_accepted_time                48348
driver_accepted_time               88845
ready_for_pickup_time              51054
picked_up_time                     51438
delivered_time                     49562
delivery_date                      99759
vendor_id                              0
created_at                             0
LOCATION_NUMBER                        0
LOCATION_TYPE                      48893
CID X LOC_NUM X VENDOR                 0
dtype: int64

Customers Missing Values:
customer_id        0
gender         12154
dob            31628
status             0
verified           0
language       13575
created_at         0
updated_at         0
dtype: int64

Locations Missing Values:
customer_id            0
location_number        0
location_type      27209
latitude               6
longitude              6
dtype: int64

Vendors Missing Values:
id                       0
authentication_id        0
latitude                 0
longitude                0
vendor_category_en       0
vendor_category_id       0
delivery_charge          0
serving_distance         0
is_open                  0
OpeningTime              9
OpeningTime2             9
prepration_time          0
commission              15
is_haked_delivering      0
discount_percentage      0
status                   0
verified                 0
rank                     0
language                15
vendor_rating            0
sunday_from_time1        1
sunday_to_time1          1
sunday_from_time2       58
sunday_to_time2         58
monday_from_time1        0
monday_to_time1          0
monday_from_time2       58
monday_to_time2         58
tuesday_from_time1       1
tuesday_to_time1         1
tuesday_from_time2      59
tuesday_to_time2        59
wednesday_from_time1     0
wednesday_to_time1       0
wednesday_from_time2    58
wednesday_to_time2      58
thursday_from_time1      1
thursday_to_time1        1
thursday_from_time2     58
thursday_to_time2       58
friday_from_time1        4
friday_to_time1          4
friday_from_time2       55
friday_to_time2         55
saturday_from_time1      2
saturday_to_time1        2
saturday_from_time2     58
saturday_to_time2       58
primary_tags            23
open_close_flags         0
vendor_tag               3
vendor_tag_name          3
one_click_vendor         0
country_id               0
city_id                  0
created_at               0
updated_at               0
device_type              0
display_orders           0
dtype: int64

In [15]:
# Drop columns with too many missing values (like promo_code)
orders.drop(columns=[
    'promo_code', 'promo_code_discount_percentage', 'vendor_discount_amount',
    'delivery_time', 'order_accepted_time', 'driver_accepted_time',
    'ready_for_pickup_time', 'picked_up_time', 'delivered_time', 'delivery_date'
], inplace=True, errors='ignore')  # errors='ignore' prevents crashing if column is missing

# Fill missing numerical columns with median
orders['item_count'] = orders['item_count'].fillna(orders['item_count'].median())
orders['vendor_rating'] = orders['vendor_rating'].fillna(orders['vendor_rating'].median())
orders['preparationtime'] = orders['preparationtime'].fillna(orders['preparationtime'].median())

# Fill missing categorical columns with 'Unknown'
orders['is_favorite'] = orders['is_favorite'].fillna('Unknown')

# Drop rows where order_id is missing
orders.dropna(subset=['order_id'], inplace=True)

# Checking if it worked
print("Cleaned Orders Shape:", orders.shape)

Cleaned Orders Shape: (135233, 16)

In [16]:
merged_df = pd.merge(orders, customers, on='customer_id', how='left')

merged_df = pd.merge(merged_df, locations, on='customer_id', how='left')

vendors.rename(columns={'id': 'vendor_id'}, inplace=True)
merged_df = pd.merge(merged_df, vendors, on='vendor_id', how='left')

print("Final Merged Data Shape:", merged_df.shape)
display(merged_df.head())

Final Merged Data Shape: (395586, 85)

,order_id,customer_id,item_count,grand_total,payment_mode,is_favorite,is_rated,vendor_rating_x,driver_rating,deliverydistance,...,open_close_flags,vendor_tag,vendor_tag_name,one_click_vendor,country_id,city_id,created_at,updated_at_y,device_type,display_orders
0,163923.0,KL09J9N,6.0,10.1,1,Unknown,No,0.0,0,0.0,...,1,"5,30,48,23","Burgers,Fries,Kids meal,Shawarma",Y,1,1,9/16/2023 19:37,4/7/2025 21:08,3,1
1,163923.0,KL09J9N,6.0,10.1,1,Unknown,No,0.0,0,0.0,...,1,"5,30,48,23","Burgers,Fries,Kids meal,Shawarma",Y,1,1,9/16/2023 19:37,4/7/2025 21:08,3,1
2,163923.0,KL09J9N,6.0,10.1,1,Unknown,No,0.0,0,0.0,...,1,"5,30,48,23","Burgers,Fries,Kids meal,Shawarma",Y,1,1,9/16/2023 19:37,4/7/2025 21:08,3,1
3,163923.0,KL09J9N,6.0,10.1,1,Unknown,No,0.0,0,0.0,...,1,"5,30,48,23","Burgers,Fries,Kids meal,Shawarma",Y,1,1,9/16/2023 19:37,4/7/2025 21:08,3,1
4,163924.0,H5LGGFX,3.0,8.4,1,Unknown,No,0.0,0,0.0,...,1,"15,34,4,28,27,24,8","Pizzas,Italian,Breakfast,Soups,Pasta,Salads,De...",Y,1,1,8/26/2023 21:47,3/31/2025 22:16,3,1

In [17]:
#Feature Selection & Preprocessing
drop_cols = ['order_id', 'created_at', 'updated_at', 'vendor_tag', 'vendor_tag_name']
X = merged_df.drop(columns=drop_cols + ['vendor_id'], errors='ignore')  # ignore missing columns

# Encode categorical features using LabelEncoder
from sklearn.preprocessing import LabelEncoder
label_cols = X.select_dtypes(include=['object']).columns

for col in label_cols:
    X[col] = X[col].astype(str)
    X[col] = LabelEncoder().fit_transform(X[col])

# Define target variable
y = merged_df['vendor_id']

# Check shapes
print("Feature shape:", X.shape)
print("Target shape:", y.shape)

Feature shape: (395586, 80)
Target shape: (395586,)

In [18]:
# Training the Model - RandomForestClassifier

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Predict on test data
y_pred = clf.predict(X_test)

# Evaluate the model
from sklearn.metrics import accuracy_score, classification_report
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 1.0

Classification Report:
               precision    recall  f1-score   support

           4       1.00      1.00      1.00      1673
          13       1.00      1.00      1.00       642
          20       1.00      1.00      1.00      1319
          23       1.00      1.00      1.00       645
          28       1.00      1.00      1.00       877
          33       1.00      1.00      1.00      1450
          43       1.00      1.00      1.00       584
          44       1.00      1.00      1.00       713
          55       1.00      1.00      1.00       536
          66       1.00      1.00      1.00       470
          67       1.00      1.00      1.00       447
          75       1.00      1.00      1.00       877
          76       1.00      1.00      1.00       535
          78       1.00      1.00      1.00      2715
          79       1.00      1.00      1.00      2578
          81       1.00      1.00      1.00       722
          82       1.00      1.00      1.00       642
          83       1.00      1.00      1.00      1858
          84       1.00      1.00      1.00      2408
          85       1.00      1.00      1.00      1086
          86       1.00      1.00      1.00      1172
          90       1.00      1.00      1.00       832
          92       1.00      1.00      1.00      1123
         104       1.00      1.00      1.00      1102
         105       1.00      1.00      1.00      2743
         106       1.00      1.00      1.00      1389
         110       1.00      1.00      1.00       928
         113       1.00      1.00      1.00      4875
         115       1.00      1.00      1.00       438
         134       1.00      1.00      1.00      1079
         145       1.00      1.00      1.00       518
         148       1.00      1.00      1.00       569
         149       1.00      1.00      1.00       470
         154       1.00      1.00      1.00       480
         157       1.00      1.00      1.00       877
         159       1.00      1.00      1.00      1704
         160       1.00      1.00      1.00       398
         161       1.00      1.00      1.00       554
         176       1.00      1.00      1.00       624
         180       1.00      1.00      1.00       500
         188       1.00      1.00      1.00       660
         189       1.00      1.00      1.00      1059
         191       1.00      1.00      1.00       941
         192       1.00      1.00      1.00      1087
         193       1.00      1.00      1.00       882
         195       1.00      1.00      1.00      1198
         196       1.00      1.00      1.00       271
         197       1.00      1.00      1.00       368
         199       1.00      1.00      1.00       334
         201       1.00      1.00      1.00       545
         203       1.00      1.00      1.00       378
         207       1.00      1.00      1.00       422
         216       1.00      1.00      1.00       698
         221       1.00      1.00      1.00       855
         225       1.00      1.00      1.00       720
         231       1.00      1.00      1.00       458
         237       1.00      1.00      1.00       413
         243       1.00      1.00      1.00       493
         250       1.00      1.00      1.00       320
         259       1.00      1.00      1.00       609
         265       1.00      1.00      1.00       465
         271       1.00      1.00      1.00       357
         274       1.00      1.00      1.00       469
         288       1.00      1.00      1.00       560
         289       1.00      1.00      1.00       435
         294       1.00      1.00      1.00       320
         295       1.00      1.00      1.00       355
         298       1.00      1.00      1.00       641
         299       1.00      1.00      1.00       488
         300       1.00      1.00      1.00       642
         303       1.00      1.00      1.00       813
         304       1.00      1.00      1.00       288
         310       1.00      1.00      1.00       628
         356       1.00      1.00      1.00       810
         386       1.00      1.00      1.00      1361
         391       1.00      1.00      1.00       607
         398       1.00      1.00      1.00       305
         401       1.00      1.00      1.00       557
         419       1.00      1.00      1.00       382
         459       1.00      1.00      1.00       523
         537       1.00      1.00      1.00       574
         547       1.00      1.00      1.00       791
         573       1.00      1.00      1.00       714
         575       1.00      1.00      1.00       275
         577       1.00      1.00      1.00       499
         578       1.00      1.00      1.00       902
         582       1.00      1.00      1.00       321
         583       1.00      1.00      1.00       787
         676       1.00      1.00      1.00       333
         679       1.00      1.00      1.00       715
         681       1.00      1.00      1.00       543
         841       1.00      1.00      1.00       328
         843       1.00      1.00      1.00       266
         845       1.00      1.00      1.00       280
         846       1.00      1.00      1.00      1009
         849       1.00      1.00      1.00       460
         855       1.00      1.00      1.00       347
         856       1.00      1.00      1.00       531
         858       1.00      1.00      1.00       417
         907       1.00      1.00      1.00       157

    accuracy                           1.00     79118
   macro avg       1.00      1.00      1.00     79118
weighted avg       1.00      1.00      1.00     79118

In [19]:
# top 3 likely restaurants for a given customer
import numpy as np

def recommend_restaurants(customer_row):
    customer_row = customer_row.copy()
    
    # Label encode categorical features
    for col in label_cols:
        customer_row[col] = LabelEncoder().fit_transform(customer_row[col].astype(str))
    
    # Predict probabilities for each vendor
    probs = clf.predict_proba(customer_row)[0]
    
    # Get top 3 vendor indices (class labels)
    top3_indices = np.argsort(probs)[-3:][::-1]
    top3_vendors = clf.classes_[top3_indices]
    top3_probs = probs[top3_indices]
    
    # Return as list of (vendor_id, probability)
    return list(zip(top3_vendors, top3_probs))

# Try on a single random customer
sample_row = X.sample(1, random_state=42)
recommendations = recommend_restaurants(sample_row)

print("Top 3 recommended vendors:", recommendations)

Top 3 recommended vendors: [(33, 0.41), (154, 0.28), (4, 0.1)]

In [20]:
import joblib

# Save model and encoders
joblib.dump(clf, 'restaurant_recommender_model.pkl')
joblib.dump(label_cols, 'label_columns.pkl')

['label_columns.pkl']

In [21]:
import pandas as pd
import numpy as np
import joblib
from sklearn.preprocessing import LabelEncoder

In [22]:
# Load Model and Label Columns
clf = joblib.load("restaurant_recommender_model.pkl")
label_cols = joblib.load("label_columns.pkl")

In [24]:
test_df = pd.read_csv("Data/test_customers.csv")

In [25]:
# Encode Categorical Columns (same as used during training)
for col in label_cols:
    if col in test_df.columns:
        test_df[col] = LabelEncoder().fit_transform(test_df[col].astype(str))

In [26]:
# Align Test Columns with Model's Expected Input
used_cols = [col for col in clf.feature_names_in_ if col in test_df.columns]
missing_cols = [col for col in clf.feature_names_in_ if col not in test_df.columns]

In [27]:
# Add missing columns (as 0)
for col in missing_cols:
    test_df[col] = 0

In [28]:
X_test = test_df[clf.feature_names_in_].copy()

In [29]:
X_test = X_test.apply(pd.to_numeric, errors='coerce')

X_test = X_test.fillna(0)

X_test = X_test.astype(float)

In [30]:
probs = clf.predict_proba(X_test)
top_indices = np.argmax(probs, axis=1)
top_vendors = clf.classes_[top_indices]

In [31]:
results = pd.DataFrame({
    "customer_id": test_df["customer_id"],
    "predicted_vendor": top_vendors
})

# Save to CSV
results.to_csv("predicted_vendors.csv", index=False)

# Preview result
results.head()

   customer_id  predicted_vendor
0         4958                33
1         4302                33
2         5940                33
3         3571                33
4         2194                33